$accentColor = #ff8800
// $textColor = 
// $borderColor = 
// $codeBgColor = 
body{
  font-size: 15px !important;
}
.feature{
  text-align: center;
}
table{
  display: table !important;
  min-width: 100% !important;
  text-align: center !important;
}
.repo-link{
  display:none !important;
}

.router-link-active {
  margin-bottom: 0!important;
  border-bottom: 0!important;
}